.container3 {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container3 h1 {
    font-size: 95px;
    color: #fff;
    margin-bottom: 50px;
}
.content {
    text-align: center;
}
.content .botonsito {
    margin-left: 10px;
    font-size: 23px;
    color: #fff;
    background-color: black;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.3s;
}
.content .botonsito:hover {
    background-color: #fff;
    color: #000;
}
.content input {
    background-color: grey;  
    border: 1px solid white; 
}
.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}



@media (min-aspect-radio: 16/9) {
    .background-clip {
        width: 100%;
        height: auto;
        /* object-fit: cover; */
    }
}
@media (max-aspect-radio: 16/9) {
    .background-clip {
        width: auto;
        height: 100%;
        /* object-fit: cover; */
    }
}

