@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Faculty+Glyphic&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

/***? Estilos Generales [Body y Header] 
    ** Se usa better comments para una mejor legibilidad del código.
*/
body {
    background: url(https://t1.ea.ltmcdn.com/es/posts/9/8/2/15_animales_polinizadores_caracteristicas_y_ejemplos_24289_orig.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Raleway;
    min-height: 100vh;
    scrollbar-width: none;
    align-items: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    cursor: url(/assets/img/bee--cursor.png) -20 10, auto;
}
.linea {
    margin-top: 20px;
    width: 90%;
}
h2 {
    /* font-family: Sour Gummy; */
    font-family: Faculty Glyphic;
}
a {
    text-decoration: none;
    color: white;
}
a, button, #submit {
    cursor: url(/assets/img/bee--pointer.png) -20 10, auto;
}
.formu input {
    cursor: url(/assets/img/escarabajo--pointer.png), auto;
}
header {
    width: 95%;
}

/**? Navegacion */

.menu {
    display: flex;
    border-radius: 10px;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    background-color: #eeba0b;
    transition: 1s;
}
.menu h1 {
    width: 60%;
    margin: 0.1% 25%;
    background: linear-gradient(to right, #000000, orange);
    background-clip: text;
    color: transparent;
    font-size: 100%;
    font-size: 25px;
}
.menu .user {
    display: flex;
    width: 20rem;
    justify-content: space-around;
    padding: 10px;
    margin: 0 3px;
    font-style: italic;
    color: black;
    transition: all 0.7s;
}
.menu .user:hover {
    border-left: 1px solid white; border-right: 1px solid white;
    border-radius: 40px;
}
.menu .user p {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.menu .user a i {
    display: flex;
    margin-right: 10px;
    align-items: center;
    width: 50%;
}
.menu a {
    display: flex;
}
.menu ul {
    display: flex;
}
.menu-item {
    display: flex;
    padding: 8px 10px;
    font-size: 15px;
    color: black;
    position: relative;
    transition: 1s;
}
.menu-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: 0.3s ease;
}
.menu-item:hover::after {
    width: 100%;
}

/** CONTENIDO PRINCIPAL */

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 20px;
    color: white;
    background-color: rgba(91, 100, 109, 0.423);
    border: 3px solid black;
}   
main h2 {
    text-shadow: black 1px 1px 10px;
}
main p {
    width: 40%;
    padding: 20px;
    text-align: justify;
    border: 1px solid white;
}
.container {
    display: grid;
    width: 100%;
    height: 40rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    transition: all 1s;
}
.container fieldset {
    width: 80%;
}
.container fieldset, 
.container figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s;
    border: 2px solid white;
}
.container figure {
    border: none;
    border-bottom: 2px solid white;
}
.container fieldset p {
    width: 100%;
    padding: 8px;
    text-align: center;
    font-size: 15px;
}
.grid-item {
    display: grid;
    text-align: center;
    justify-items: center;
    padding: 10px;
    margin: auto;
    font-family: Faculty Glyphic;
    background-color: #2430109d;
    transition: all 1s;
}
.grid-item:nth-child(even) {
    background-color: #415d43b2;
}
.grid-item:nth-child(even):hover {
    background-color: rgba(255, 255, 255, 0.149);
}
.container article {
    display: grid;
    width: 70%;
    margin: auto;
    justify-items: center;
    text-align: center;
    font-family: Faculty Glyphic;
    background-color: rgba(119, 136, 153, 0.286);
    transition: all 1s;
}
.container article p {
    width: 100%;
    text-align: center;
    font-size: 15px;
}
.container article:nth-child(even):hover {
    background-color: rgba(255, 255, 255, 0.149);
}
.grid-item legend, 
.grid-item b,
article b {
    text-shadow: black 1px 1px 1px; 
    color: #a1cca5;
}
.grid-item img,
.figure img {
    border-radius: 20px;
    object-fit: cover;
    border: 2px solid white;
    transition: all 1s;
}
.grid-item img {
    width: 200px;
    height: 100px;
}
figure img {
    width: 400px;
    height: 200px;
    border-radius: 12px;
    border: 1px solid white;
    object-fit: cover;
}
.grid-item img:hover, .figure img {
    cursor: crosshair;
    filter: contrast(120%);
}
.grid-item img:hover {
    width: 220px;
    border-color: #2d6a4f;
}
figure img:hover {
    width: 420px;
    border-color: #0ead69;
    filter: contrast(150%);
}
.grid-item:nth-child(odd) {
    background-color: #86a3309b;
}
.grid-item:nth-child(odd):hover {
    background-color: rgba(255, 255, 255, 0.149);
    margin-top: 50px;
}
.grid-item:nth-child(odd) legend {
    color: #415d43;
}
.container article:nth-child(odd):hover {
    background-color: rgba(255, 255, 255, 0.149);
}
section {
    display: flex;
    width: 800px;
    height: 286px;
    justify-content: center;
    text-align: center;
    color: white;
    border: 3px solid #3d5a80;
    transition: 2s;
}
section:hover {
    width: 920px;
}
section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 3;
    transition: 2s ease;
}
section img:hover {
    width: 120px;
    cursor: crosshair;
    border: 1px solid #0ead69;
    opacity: 1;
    filter: contrast(120%);
}
section pre {
    display: flex;
    width: 4%;
    margin: 0;
    background-color: #74c69d;
    transition: all 1s;
}
section pre:hover {
    width: 5.1%;
    background-color: #40916c;
}
section pre:active {
    background-color: rgba(255, 0, 0, 0.485);
}
section pre a {
    /* padding: 1px; */
    width: 100%;
    text-align: center;
}
.container2 {
    display: flex;
    width: 40%;
    flex-direction: column;
    background-color: rgb(154,188,95);
}
/** Estilos para el mapa */
#map {
    width: 100%;
    height: 600px;
    background: #f0f0f0;    
}

#map:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 
                0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.map-control {
    margin: 10px;
    padding: 8px;
    background-color: white;
    border-radius: 0.375rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

/** FORMULARIOS */

.formu {
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 50rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    color: white;
    background-color: #202020e1;
    border-radius: 20px;
    transition: 1s;
}
.formu:hover {
    width: 28%;
}
.formu fieldset {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 5% 0 5%;
    border: 3px solid#eeba0b;
    border-radius: 20px;
}
.formu fieldset:hover {
    border: 3px solid #ffe6a7;
    transition: 2s;
}
.formu fieldset img {
    width: 6rem;
    margin-bottom: 10px;
    transition: 1s;
}
.formu fieldset h2 {
    font-size: 1.6rem;
    background: linear-gradient(to right, #f6bd60, #457b9d);
    background-clip: text;
    color: transparent;
    text-shadow: none;
}
.formu fieldset h2, input, img {
    margin-bottom: 0;
    transition: all 1s;
}
.formu fieldset input {
    width: 80%;
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 5px;
    color: black;
}
.formu fieldset input:hover {
    background-color: #e8f5e5;
}
.formu fieldset a {
    width: 70%;
    padding: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    border-bottom: 1px solid white; border-top: 1px solid white;
    transition: 0.7s;
}
.formu fieldset a:hover {
    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 16px;
    border-bottom: 1px solid white;
}
.formu fieldset button{
    width: 45%;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    padding: 7px;
    margin: 5px 0 20px 0;
    color: black;
    border: none;
    border-radius: 8px;
    background-color: #eeba0b;  
    transition: 1s;
}
.formu fieldset button:hover {
    border-radius: 15px;
    background-color: green;
    color: white;
}
.formu fieldset button:active {
    background-color: rgba(47, 79, 79, 0.118);
}
.formu fieldset .forgot {
    width: 100%;    
}
.formu fieldset .forgot a {
    font-size: 12px;
    padding: 7px;
    border: none;
}
.formu fieldset .forgot a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: 0.3s ease;
}
.formu fieldset .forgot a:hover::after {
    width: 100%;
}
#password {
    margin: 0 0 1rem 0;
}

/** PIE DE PAGINA */

footer {
    display: flex;
    width: 70%;
    justify-content: space-around;
    font-size: 15px;
    margin-top: 1rem;
    padding: 0 7rem 0 7rem;
    border-top: 1px solid white; border-left: 1px solid white; border-right: 1px solid white ;
    background-color: rgba(91, 100, 109, 0.423);
}
footer p {
    display: flex;
    align-items: center;
}
footer b {
    margin: 0 0 10px 0;
}
footer .redes {
    padding: 10px 20px;
}
footer .redes:hover {
    background-color: rgba(211, 211, 211, 0.21);
}
footer .redes p{
    display: flex;
    flex-direction: column;
    align-items: normal;
    gap: 0.5rem;
}
span {
    display: flex;
    justify-content: space-around;
}
span i {
    font-size: 1.1rem;
}
